{
    "presets": [
        [
            "@babel/react",
            {
                "runtime": "automatic"
            }
        ],
        "@babel/env"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}
